<%#userindex%>
<div class='container px-5 px-sm-0'>
  <div class="row p-3">
    <div class="col-md-3">
		  <%= search_form_for @q do |f| %>
			  <%= f.search_field :name_cont, placeholder: "ユーザー名で検索" %>
		  	<%= f.submit "検索" %>
		  <% end %>
     <div class="col-md-8 offset-md-1">
       <%= render 'index',users: @users %>
     </div>
  </div>
 </div>
</div>