
<div class='container px-5 px-sm-0'>
  <div class="row p-3">
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "マイページ編集", edit_user_path(@user) %>
<% end %>

<%= render 'mypage' %>
<%= render 'posts/index', posts: @post %>
</div>
</div>