
<div class='container-fluid px-2 px-sm-2'>
  <div class="row p-2">
    <div class='col-md-2 p-1'>
            <%= render 'mypage', user: @user %>
    </div>
    <div class="col-md-9 offset-md-1">
              <%= render 'posts/index', posts: @post %>
    </div>
  </div>
</div>
