<div class="container">
    <div class="row">
        <div class="col-md">
<h1><strong>その１秒をけずりだせ！</strong></h1>
<p>このアプリはアスリートの如く日々を生きる人々の活動の中から</p>
<p>１秒でも多くの時間を作り出し、その１秒をより効率的に</p>
<p>利用する方法を発信し、共有する目的で開発しました！</p>
<p>早速ページトップの新規登録か
<%= link_to "こちら", new_user_registration_path %>
より新規登録を行い</p>
<p>日々を効率的にしましょう！</p>
    </div>
</div>
</div>