<table class='table table-hover table-inverse'>

<% @post.each do |post| %>
  <div>
    <tr>
<td><%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, format: 'png' %></td>
    <td>ユーザーネーム<%= post.user.name %></td>
    </tr>
    <tr>
<td><%= link_to post.title, post_path(post) %></td>
<td><%#= @cut_time.minute %>分<%#= @cut_time.second %>秒時間を節約できます</td>
</tr>
  </div>
<% end %>
  </tbody>
</table>