<table class='table bg-info'>
  <h4>いいねランキング</h4>
  <% @ranks.each.with_index(1) do |rank, i| %>
  <tbody>
    <tr>
    <td>No.<%= i %></td>
    <td><%= link_to rank.title, post_path(rank) %></td>
    </tr>
    <% end %>
  </tbody>
</table>