<%#post_index%>
<div class='container px-5 px-sm-0'>
  <div class='row'>
<% @tags.each do |tag| %>
  <span style="background-color: #e9e9e9; border-radius: 5px;">
    <%#= link_to "#{tag.name}(#{tag.taggings_count})", tags_path(tag.name) %>
    </span>
<% end %>

<%= render 'posts/index', posts: @posts %>
  </div>
</div>