<footer class="footer bg-success">
  <div class='container mt-5'>
   <div class='row'>
      <div class="pull-left ml-5 ">
        <p>©　SSHIMIUZZ</p>
        <div class="pull-right mr-5 ">
        <p>その１秒を削りだせ！</p>
        </div>
      </div>
     </div>
  </div>
</footer>